# data
data/processed
data/raw

# reports
**/*.pdf

# model output
output

# binary files
bin

# todos
todo.md

# libraries directory
lib

# notebook checkpoints
.ipynb_checkpoints

# python
*.pyc
__pycache__
